@import url('https://fonts.googleapis.com/css?family=Gudea');

*, html, body{
	top: 0;
	left: 0;
	margin: 0;
	font-family: 'Gudea', sans-serif;
}
#contacts{
	position: relative;
	z-index: 5;
	display: block;
	height: 100%;
	width: 300px;
	background: rgb(40, 178, 110);
}
#chats{
	position: absolute;
	height: 100%;
	width: calc(100% - 600px);
	left: 300px;
	background: rgb(244, 244, 244);
	border-right: 2px solid rgb(244, 244, 244);
}
#profile{
	position: relative;
	left: calc(100vw - 600px);
	display: block;
	height: 100%;
	width: 300px;
	background:	white;
}
main{
	display: flex;
	height: 100vh;
}
#contacts .search{
	background: rgb(33, 153, 94);
	position: relative;
	margin: 5% auto;
	width: 95%;
	height: 33px;
	border-radius: 100px;
	color: white;
}

#contacts input{
	background: transparent;
	border: none;
	padding-left: 10px;
	width: calc(90% - 30px);
	height: 30px;
	color: white;
}
#contacts input::placeholder {
  color: white;
  opacity: 0.6;
  }
input:focus{
	outline: none;
}
#contacts .search i{
	position: relative;
	z-index: 5;
	opacity: 0.9;
	left: 10px;
}
#contacts .icons{
	margin: 30px 7%;
	opacity: 0.8;
	color: white;
}
#contacts .icons i{
	margin: 0 15px;
}
#chats .header{
	background: white;
	color: black;
	height: 20px;
	width: calc(100% - 20px);
	font-size: 19px;
	padding: 20px 10px;
	display: inline-block;
}
#chats .header span{
	vertical-align: text-top;
	margin-top: 19px;
	overflow-x: hidden;
}

#chats .header span .fas{
	border-radius: 60px;
  box-shadow: 0px 0px 1px #888;
  padding: 0.6em 0.6em;
  	background: rgb(40, 178, 110);
  	float: right;
  	font-size: 13px;
  	margin: 0 10px;
  	color: rgb(217, 247, 227);
}
#chats .header span .fa-user{
	display: none;
}
#chats .header span .fa-bars{
	float: left;
	border-radius: 0;
	display: none;
}
#chats footer{
	background: white;
	height: 40px;
	padding: 10px 10px;
	width: calc(100% - 20px);
	margin-top: calc(100vh - 120px);
}
#chats footer input{
	height: 35px;
	width: calc(100% - 55px);
	padding-left: 10px;
}
button{
	color: rgb(40, 178, 110);
	width: 40px;
	height: 40px;
	text-align: center;
	background: white;
	border: 2px solid rgb(244, 244, 244);
}

#profile img{
	margin: 50px;
	margin-bottom: 30px;
	height: calc(153px + 3vw);
	width: calc(153px + 3vw);
	border-radius: 100%;
	background: grey;
}
#profile p{
	font-weight: bold;
	text-align: center;
	font-size: 19px;
}
#profile .profession{
	font-weight: lighter;
	color: rgb(167, 168, 170);
	margin: 8px 0 10px 0;
	font-size: 15px;
}
#profile .icons{
	/*margin: 0 auto;*/
	text-align: center;
	margin-bottom: 70px;
}
#profile i{
	margin: 0 5%;
}
#profile .info p{
	text-align: left;
	padding: 4px 20px;
	font-weight: lighter;
	font-size: 15px;
	color: rgb(167, 168, 170);
	cursor: pointer;

}
i{
	cursor: pointer;
}
p i{
	float: right;
	color: rgb(136, 136, 137);
}
#profile .icons i{
	font-size: 12px;
	border-radius: 100%;
	background: white;
	padding: 0.5em 0.7em;
	margin: 1.2%;
}
#profile .icons .fa-facebook-f:hover{
  box-shadow: 0px 0px 1px #888;
  background: rgb(59, 89, 152);
	color: white;
}
#profile .icons .fa-twitter:hover{
  box-shadow: 0px 0px 1px #888;
  background: rgb(56, 161, 243);
	color: white;
}
#profile .icons .fa-linkedin-in:hover{
  box-shadow: 0px 0px 1px #888;
  background: rgb(0, 119, 181);
	color: white;
}
.info p:hover, p i:hover{
	color: rgb(145, 145, 145);
}



@media screen and (max-width: 990px) {
	#profile{
		display: none;
		position: relative;
		z-index: 10;
		left: calc(100vw - 692px);
		/*transform: translateX(300px);*/
	}
	#chats .header span .fa-user{
		display: block;
	}
	#chats{
		left: 392px;
		width: calc(99.5vw - 392px);
	}
	#contacts{
		width: 392px;
	}
	#contacts .icons{
		margin-left: 12%;
	}
}
@media screen and (max-width: 765px) {
	#chats{
		left: 0;
		width: 99.5vw;
	}
	#contacts{
		position: relative;
		z-index: 10;
		/*transform: translateX(-300px);*/
		display: none;
		width: 300px;
	}
	#contacts .icons{
		margin-left: 7%;
	}
	#chats .header span .fa-bars{
		display: block;
	}
	#profile{
		left: calc(99.7vw - 300px);
	}
}